* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#squares-container {
  display: flex;
  align-items: center;
}

h1 {
  margin: 15px 5px;
}

div.squares {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.row {
  font-size: 0;
}

div.cell {
  position: relative;
  display: inline-block;
  width: 10vmin;
  height: 10vmin;
  margin: 5px;
  font-size: 2rem;
  background-color: antiquewhite;
  border-radius: 2px;
  text-align: center;
  line-height: 10vmin;
}

div.table {
  margin-bottom: 10px;
}

div.cell.red {
  background-color: tomato;
}

div.cell.orange {
  background-color: orange;
}

div.cell.yellow {
  background-color: gold;
}

div.cell.bold {
  font-weight: bold;
}

div.cell.italic {
  font-style: italic;
}

form {
  margin-left: 20px;
}

input {
  margin: 5px;
}
